@charset "UTF-8";

body{
	background-color:#4ec5ed;
	
}
table {
	color: #3a306b;
	border-style: dotted;
	border-color: black;
	text-align: center;
	font-style: italic;
	font-size: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3285a1;

}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: #73aabd;
	text-decoration: none;
	color:white;
}



